<form action="/answer" data-turbo = "false" method = "get">
  <label for="question"> Ask your coach anything:</label>
  <br>
  <br>
  <input type="text" name = "question" id = "question">
  <input type="submit" value = "Ask!">
</form>
